.radioLabel {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  @include align-items-center;
  .label {
    color: #161a3f;
    font-size: 14px;
    letter-spacing: -0.42px;
    padding-top: 7px;
  }
}

.radioInput {
  margin: 0;
  visibility: hidden;
}

.radioInput:checked + span {
  border: 2px solid #2d40ff;
}

.radioInput:checked + span:after {
  opacity: 1;
}

.customRadio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.customRadio::after {
  content: '';
  width: 9px;
  height: 9px;
  background: #2d40ff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
